<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Garrafeira.Properties.Settings.ConnectionString" connectionString="Data Source=tcp:mednat.ieeta.pt\SQLSERVER,8101;User ID=p7g9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>